<p>
  <strong>Name</strong><br>
  <%= @menu.name %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <%= render @menu.menu_items %>
</table>

<p>
  <%= link_to 'Add an Item to the Menu', new_menu_menu_item_path(@menu) %>
</p>

<p>
  <%= link_to 'Back to Menus', restaurant_menus_path(@menu.restaurant) %>
</p>
