<h1>Search Results for Menu Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <% @menu_items.each do |menu_item| %>
  <tr>
    <td><%= menu_item.name %></td>
    <td><%= menu_item.description %></td>
    <td><%= menu_item.price %></td>
  </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Back to Menu', @menu %>
</p>
