<h1>Search Menu Items by Name</h1>

<%= form_tag search_results_menu_menu_items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
