<p>
  <strong>Name</strong><br>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description</strong><br>
  <%= @restaurant.description %>
</p>

<p>
  <%= link_to 'Back to Restaurants', restaurants_path() %>
</p>
