<p>
  <strong>Name</strong><br>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Description</strong><br>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Price</strong><br>
  <%= @menu_item.price %>
</p>
